:host {
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

main {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.done-button {
  color: var(--mat-sys-outline);
  border: none;
  background-color: transparent;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.create-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
